# 防止lombok在父级目录中搜索配置文件
config.stopBubbling = true
# @Lombok.Generated注解：在可能的情况下，对所有生成的节点生成注释;对JaCoCo（内置支持），或者其他类型的检查器和代码覆盖工具非常有用
# lombok.addLombokGeneratedAnnotation = true
# @SuppressFBWarnings，如果您想在类文件上运行FindBugs的话，非常有用的。要启用这个特性，请确保在编译时findbugs在可执行路径中，并添加以下配置键
# lombok.extern.findbugs.addSuppressFBWarnings = true
lombok.tostring.callsuper = CALL
lombok.equalsandhashcode.callsuper = CALL
# lombok.accessors.chain=true
# lombok.anyconstructor.addconstructorproperties = false